<main id="new-wallet-component">
  <div class="container">
    <div class="logo">
      <img src="assets/img/icon-simpleico.png" alt="SimpleICO">
    </div>
    <div class="new-wallet-wrapper">
      <button class="btn btn-success btn-lg btn-block">Generate new wallet</button>

      <div class="card bg-dark mt-3">
        <div class="card-body">

          <fieldset class="input-box bg-dark mb-3">
            <label for="">Private key</label>
            <div class="input-group">
              <input type="text" class="form-control">
              <div class="input-group-append">
                <button class="btn btn-outline-white" type="button">copy</button>
              </div>
            </div>
          </fieldset>
          <fieldset class="input-box bg-dark mb-2">
            <label for="">Mnemonic seed phrase</label>
            <div class="input-group">
              <input type="text" class="form-control">
              <div class="input-group-append">
                <button class="btn btn-outline-white" type="button">copy</button>
              </div>
            </div>
          </fieldset>

        </div>
      </div>
    </div>
  </div>
</main>
