@import "sass/simpleico";
@import "sass/components/contract-show-component";

.token-name {
  margin-bottom: 0;
}

#whitelist {
  .member {
    @include flex-row;
    margin-bottom: get-spacer(1);
    .approve,
    .reject,
    .renounce {
      margin-left: auto;
      .badge {
        margin-left: get-spacer(1);
      }
    }
  }
}
