<app-qr-code-modal [model]="token"></app-qr-code-modal>

<div class="modal" *ngIf="display" id="qr-code-modal">
  <div class="close" (click)="resetModal()">
    <div class="container">
      <i class="icon-cross-circle"></i>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="modal-body">
          <h4 class="title">Transfer {{ token.symbol }}</h4>
          <p>Note that you can only transfer to whitelisted addresses</p>
          <fieldset class="form-group">
            <label for="receiver">Receiver</label>
            <input [(ngModel)]="payload.receiver" type="text" class="form-control" placeholder="Ethereum address...">
          </fieldset>
          <fieldset class="form-group">
            <label for="amount">Amount ({{ token.symbol }})</label>
            <input [(ngModel)]="payload.amount" type="text" class="form-control" placeholder="Enter {{ token.symbol }} amount">
          </fieldset>
          <div class="error" *ngIf="error.display">
            <p class="message" [innerHTML]="error.msg | keepHtml"></p>
          </div>
          <fieldset class="form-group mb-0 text-right">
            <button (click)="transfer()" class="btn btn-primary">Transfer {{ token.symbol }}</button>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="section">
  <header class="section-header">
    <div class="container">
      <h1 class="token-name">{{ token.name }} ({{ token.symbol }})</h1>
      <div class="eth-raised">
        <a href="{{ eth.etherscanURL }}/token/{{ token.getAddress() }}" target="_blank" class="text-truncate" class="balance text-truncate" style="max-width: 210px">{{ token.address }}</a>
        <span class="go-icon" (click)="shared.displayCrowdsaleShowModal()">
          <i class="icon-copy"></i>
        </span>
      </div>
    </div>
  </header>
  <div class="container">
    <article class="eth-raised">
      <small>Name</small>
      <span class="balance">{{ token.name }}</span>
    </article>
    <article class="eth-raised">
      <small>Symbol</small>
      <span class="balance">{{ token.symbol }}</span>
    </article>
    <article class="eth-raised">
      <small>Decimals</small>
      <span class="balance">{{ token.decimals }}</span>
    </article>
    <article class="eth-raised">
      <small>Supply</small>
      <span class="balance">{{ token.symbol }} {{ token.supply | weiToEther }}</span>
    </article>
    <article class="eth-raised">
      <small>Balance</small>
      <span class="balance">{{ token.symbol }} {{ token.balanceOf | weiToEther }}</span>
    </article>
    <article class="eth-raised">
      <small>Membership level</small>
      <span class="balance" *ngIf="token.isAdminMember()">Admin member</span>
      <span class="balance" *ngIf="!token.isAdminMember() && token.isMember()">Member</span>
      <span class="balance" *ngIf="token.isPendingMember()">Requested</span>
      <span class="balance" *ngIf="token.isGuest()">None</span>
    </article>

    <div class="request-access" *ngIf="token.isGuest()">
      <h5>Only whitelisted members can use {{ token.symbol }}.</h5>
      <button (click)="requestMembership()" class="btn btn-primary btn-block">Request Access</button>
    </div>
    <nav *ngIf="token.isAdminMember() || token.isMember()">
      <button (click)="displayModal()" class="btn btn-primary btn-block">Transfer funds</button>
    </nav>
  </div>
</section>

<section id="whitelist" class="section" *ngIf="!token.isGuest()">
  <div class="container">
    <h5 class="title">Whitelist information</h5>
    <article class="info" *ngIf="token.isAdminMember()">
      <small>Admin members</small>
      <div class="member" *ngFor="let member of token.adminMembers">
        <a href="{{ eth.etherscanURL }}/address/{{ member.address.toString() }}" target="_blank" class="text-truncate">{{ member.address.toString() }}</a>
        <div class="renounce">
          <span (click)="renounceWhitelistAdmin()" class="badge badge-light">Renounce</span>
        </div>
      </div>
    </article>
    <article class="info" *ngIf="token.isAdminMember() || token.isMember()">
      <small>Members</small>
      <div class="member" *ngFor="let member of token.members">
        <a href="{{ eth.etherscanURL }}/address/{{ member.address.toString() }}" target="_blank" class="text-truncate">{{ member.address.toString() }}</a>
        <div class="reject">
          <span *ngIf="token.isAdminMember()" (click)="removeWhitelisted()" class="badge badge-light">Remove</span>
          <span *ngIf="token.isThisMember(member)" (click)="renounceWhitelisted()" class="badge badge-light">Renounce</span>
        </div>
      </div>
    </article>
    <article class="info" *ngIf="token.pendingMembers.length > 0">
      <small>Pending requests</small>
      <div class="member" *ngFor="let member of token.pendingMembers">
        <a href="{{ eth.etherscanURL }}/address/{{ member.address.toString() }}" target="_blank" class="text-truncate">{{ member.address.toString() }}</a>
        <div class="approve" *ngIf="token.isAdminMember()">
          <span (click)="addWhitelisted()" class="badge badge-light">Approve</span>
          <span (click)="revokeMembershipRequest()" class="badge badge-light">Reject</span>
        </div>
      </div>
    </article>
  </div>
</section>
