<app-qr-code-modal [model]="token"></app-qr-code-modal>

<section class="section">
  <header class="section-header">
    <div class="container">
      <h1 class="token-name">{{ token.name }} ({{ token.symbol }})</h1>
      <div class="eth-raised">
        <a href="{{ eth.etherscanURL }}/token/{{ token.getAddress() }}" target="_blank" class="text-truncate" class="balance text-truncate" style="max-width: 210px">{{ token.address }}</a>
        <span class="go-icon" (click)="shared.displayCrowdsaleShowModal()">
          <i class="icon-copy"></i>
        </span>
      </div>
    </div>
  </header>
  <div class="container">
    <article class="eth-raised">
      <small>Name</small>
      <span class="balance">{{ token.name }}</span>
    </article>
    <article class="eth-raised">
      <small>Symbol</small>
      <span class="balance">{{ token.symbol }}</span>
    </article>
    <article class="eth-raised">
      <small>Decimals</small>
      <span class="balance">{{ token.decimals }}</span>
    </article>
    <article class="eth-raised">
      <small>Supply</small>
      <span class="balance">{{ token.symbol }} {{ token.supply | weiToEther }}</span>
    </article>
    <article class="eth-raised">
      <small>Balance</small>
      <span class="balance">{{ token.symbol }} {{ token.balanceOf | weiToEther }}</span>
    </article>
    <article class="eth-raised">
      <small>Membership level</small>
      <span class="balance" *ngIf="token.isAdminMember(member)">Admin member</span>
      <span class="balance" *ngIf="!token.isAdminMember(member) && token.isMember(member)">Member</span>
      <span class="balance" *ngIf="token.isPendingMember(member)">Requested</span>
      <span class="balance" *ngIf="token.isGuest(member)">None</span>
    </article>

    <nav>
      <button *ngIf="token.isGuest(member)" (click)="requestMembership()" class="btn btn-primary btn-block">Request Access</button>
    </nav>
    <nav *ngIf="token.isAdminMember(member) || token.isMember(member)">
      <button (click)="transfer()" class="btn btn-primary btn-block">Transfer funds</button>
    </nav>
  </div>
</section>

<section id="whitelist" class="section">
  <div class="container">
    <h5 class="title">Whitelist information</h5>
    <article class="info">
      <small>Admin members</small>
      <div class="member" *ngFor="let m of token.adminMembers">
        <a href="{{ eth.etherscanURL }}/address/{{ m.address.toString() }}" target="_blank" class="text-truncate">{{ m.address.toString() }}</a>
        <div *ngIf="token.isAdminMember(m)" class="renounce">
          <span (click)="renounceWhitelistAdmin()" class="badge badge-light">Renounce</span>
        </div>
      </div>
    </article>
    <article class="info">
      <small>Members</small>
      <div class="member" *ngFor="let m of token.members">
        <a href="{{ eth.etherscanURL }}/address/{{ m.address.toString() }}" target="_blank" class="text-truncate">{{ m.address.toString() }}</a>
        <div class="reject">
          <span *ngIf="token.isAdminMember(m)" (click)="removeWhitelisted()" class="badge badge-light">Remove</span>
          <span *ngIf="token.isThisMember(m)" (click)="renounceWhitelisted()" class="badge badge-light">Renounce</span>
        </div>
      </div>
    </article>
    <article class="info" *ngIf="token.pendingMembers.length > 0">
      <small>Pending requests</small>
      <div class="member" *ngFor="let m of token.pendingMembers">
        <a href="{{ eth.etherscanURL }}/address/{{ m.address.toString() }}" target="_blank" class="text-truncate">{{ m.address.toString() }}</a>
        <div *ngIf="token.isAdminMember(m)" class="approve">
          <span (click)="addWhitelisted()" class="badge badge-light">Approve</span>
          <span (click)="revokeMembershipRequest()" class="badge badge-light">Reject</span>
        </div>
      </div>
    </article>
  </div>
</section>
