@import "sass/simpleico";
@import "sass/components/contract-show-component";

.token-name {
  margin-bottom: 0;
}

.request-access {
  border-radius: $border-radius;
  border: 2px solid $black;
  padding: get-spacer(3);
  h5 {
    @include bold;
    text-align: center;
  }
}

#whitelist {
  .member {
    @include flex-row;
    margin-bottom: get-spacer(1);
    .text-truncate {
      max-width: 140px;
    }
    .approve,
    .reject,
    .renounce {
      margin-left: auto;
      .badge {
        margin-left: get-spacer(1);
      }
    }
  }
}
