@import "sass/simpleico";

#mobile-menu {
  padding-top: $header-height-control + $container-fluid;
  box-shadow: -1px 0 3px 3px rgba($black, 0.35);
  transition: transform 0.2s ease-in-out;
  transform: translateX(110%);
  background-color: white;
  position: fixed;
  height: 100vh;
  z-index: 900;
  width: 100%;
  bottom: 0;
  right: 0;
  top: 0;

  > .container {
    padding: 0;
  }

  &.display {
    transform: translateX(0);
  }

  a {
    @include flex-column-center;
  }

  .ether-balance {
    margin-bottom: get-spacer(3);
    padding: get-spacer(3);
    position: relative;
    color: $purple;
    .balance,
    .address {
      @include light;
      font-size: $h4-font-size;
      padding-right: 70px;
      display: block;
    }
    .address {
      font-size: $h5-font-size;
      max-width: 210px;
      display: block;
    }
    small {
      @include bold;
      text-transform: uppercase;
    }
    .go-icon {
      @include flex-column-center;
      color: $purple;
      text-align: center;
      position: absolute;
      width: 70px;
      bottom: 0;
      right: 0;
      top: 0;
      &.copy {
        font-size: $h5-font-size;
      }
    }
  }
  .item {
    padding: get-spacer(3);
    color: $purple;
    display: block;
  }
  .cta {
    margin-top: get-spacer(3);
    padding: get-spacer(3);
  }
}
