<section id="mobile-menu" [class.display]="display">
  <div class="container">
    <article class="ether-balance">
      <span class="balance">ETH {{ wallet.ethBalance }}</span>
      <small>Account Balance · {{ wallet.network }}</small>
    </article>
    <a [routerLink]="['/wallet']" class="ether-balance">
      <span class="address text-truncate">{{ wallet.getAddress() }}</span>
      <small>Wallet address</small>
      <span class="go-icon"><i class="icon-chevron-right"></i></span>
    </a>
    <a [routerLink]="['/catalog']" class="item">
      <span>Smart Contracts Catalog</span>
    </a>
    <a [routerLink]="['/crowdsale/index']" class="item">
      <span>All crowdsales</span>
    </a>
    <a [routerLink]="['/settings']" class="item">
      <span>Settings</span>
    </a>
    <span class="item" (click)="wallet.lock()">
      <span>Logout</span>
    </span>
    <article class="cta">
      <a [routerLink]="['/catalog']" class="btn btn-block btn-lg btn-primary">
        Create Crowdsale
      </a>
    </article>
  </div>
</section>
