@import "sass/simpleico.scss";

.footer {
  background-color: darken($purple, 7%);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  .copyright,
  .contact,
  .network {
    padding: get-spacer(2) 0;
    text-align: right;
    display: block;
    color: white;
    margin: 0;
  }
  .network {
    @include flex-row-end;
    &:hover {
      cursor: pointer;
    }
    > span {
      @include flex-column-center;
    }
    .name {
      font-size: $font-size-sm;
    }
    .toggle {
      &:after {
        margin-left: get-spacer(2);
        font-family: 'icomoon';
      }
    }
    &.mainnet {
      .toggle:after {
        content: '\e671';
        color: $green;
      }
    }
    &.ropsten {
      .toggle:after {
        content: '\e670';
        color: $red;
      }
    }
  }
  .contact-wrapper {
    background-color: black;
  }
  .contact {
    text-align: left;
  }
  .dt {
    text-align: right;
    .logo {
      padding: get-spacer(3) 0;
      display: block;
      img {
        width: 198px;
        height: auto;
      }
    }
  }
  .social-nav {
    padding: get-spacer(3) 0;
    a {
      margin-right: get-spacer(3);
      text-decoration: underline;
      color: white;
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    .contact {
      text-align: right;
    }
    .dt {}
    .social-nav {
      text-align: right;
      a {
        margin-left: get-spacer(3);
        margin-right: 0;
      }
    }
  }
}
