<footer class="footer">
  <div class="container">
    <div class="network {{ wallet.network }}" (click)="toggleNetwork()">
      <span class="name">{{ wallet.network }}</span>
      <span class="toggle"></span>
    </div>
  </div>
  <section class="contact-wrapper">
    <div class="container">
      <div class="dt">
        <a href="https://decentralizedtechnologies.io" target="_blank" class="logo">
          <img src="assets/img/logo-decentalized-technologies-light.svg" alt="Decentralized Technologies, SA.">
        </a>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="contact">
            <a href="mailto:hello@simpleico.com" target="_blank">hello@simpleico.com</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="copyright">
            <small>&copy; Decentralized Technologies, S.A. 2018</small>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
