<footer class="footer">
  <div class="container">
    <div class="network {{ wallet.network }}" (click)="toggleNetwork()">
      <span class="name">{{ wallet.network }}</span>
      <span class="toggle"></span>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <a href="https://decentralizedtechnologies.com" target="_blank" class="logo">
        <img src="assets/img/logo-decentalized-technologies-light.svg" alt="Decentralized Technologies, SA.">
      </a>
      <small>&copy; Decentralized Technologies, S.A. 2018</small>
    </div>
  </div>
</footer>
