<header class="header auth-header">
  <div class="container">
    <div class="row">
      <div class="col-5 header-left">
        <span class="logo">
          <img src="assets/img/logo-simpleico.svg" alt="SimpleICO">
        </span>
      </div>
      <div class="col-7 header-right">
        <nav>
          <button class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
        </nav>
      </div>
    </div>
  </div>
</header>

<app-qr-code-modal [model]="wallet"></app-qr-code-modal>

<main id="contract-deploy">

  <app-fixed-supply *ngIf="FixedSupplyCrowdsale == contractType"></app-fixed-supply>
  <app-existing-token *ngIf="ExistingTokenCrowdsale == contractType"></app-existing-token>

</main>

