<header class="header auth-header">
  <div class="container">
    <div class="row">
      <div class="col-5 header-left">
        <span class="logo">
          <img src="assets/img/logo-simpleico.svg" alt="SimpleICO">
        </span>
      </div>
      <div class="col-7 header-right">
        <nav>
          <button class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
        </nav>
      </div>
    </div>
  </div>
</header>

<app-qr-code-modal [model]="wallet"></app-qr-code-modal>

<main id="contract-deploy">

  <app-fixed-supply *ngIf="FixedSupplyDeployment == contractType"></app-fixed-supply>
  <app-existing-token *ngIf="ExistingTokenDeployment == contractType"></app-existing-token>
  <app-detailed-erc20 *ngIf="DetailedERC20Deployment == contractType"></app-detailed-erc20>
  <app-erc20-token-crowdsale *ngIf="ERC20TokenCrowdsaleDeployment == contractType"></app-erc20-token-crowdsale>

  <app-footer></app-footer>
</main>
