<div class="modal" *ngIf="display" id="qr-code-modal">
  <div class="close" (click)="reset()">
    <div class="container">
      <i class="icon-cross-circle"></i>
    </div>
  </div>

  <div class="container">

    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="modal-body" *ngIf="onQrCode">
          <div id="qr-code" #qrCode></div>

          <div class="input-group mt-3">
            <input type="text" class="form-control" value="{{ model.getAddress() }}" disabled>
            <div class="input-group-append">
              <button class="btn btn-outline-white copy-address" type="button">copy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
