<section class="section" *ngIf="!isTokenLoaded">
  <div class="container">
    <h4>Create a crowdsale from an existing ERC20 token</h4>
    <p><strong>Note</strong>: You need to own ERC20 for this crowdsale to work.</p>
    <fieldset class="form-group">
      <label for="">Token address</label>
      <input required autofocus="autofocus" type="text" class="form-control" placeholder="eg. 0x345gh457uh..." [(ngModel)]="token.address">
    </fieldset>
    <p *ngIf="isInvalid" class="on-error">{{ errorMessage }}</p>
    <button class="btn btn-primary btn-lg btn-block" (click)="onLoadTokenInfo()">Next</button>
  </div>
</section>
<section class="section" *ngIf="isTokenLoaded" id="token-info">
  <div class="container">
    <h4>Confirm your token info</h4>
    <div>
      <article class="estimate">
        <p>Name</p>
        <p>{{ token.name }}</p>
      </article>
      <article class="estimate">
        <p>Symbol</p>
        <p>{{ token.symbol }}</p>
      </article>
      <article class="estimate">
        <p>You own {{ percentage }}%</p>
        <p>{{ token.symbol }} {{ balanceOf }}</p>
      </article>
      <article class="estimate">
        <p>Total supply</p>
        <p>{{ supply }}</p>
      </article>
    </div>
    <p *ngIf="isInvalid" class="on-error">{{ errorMessage }}</p>
    <button class="btn btn-primary btn-lg btn-block" (click)="onSetupCrowdsale()">Next</button>
    <button class="btn btn-outline-primary btn-lg btn-block mt-3" (click)="reset()">Back</button>
  </div>
</section>
