@import "sass/simpleico.scss";

#token-info {
  .estimate {
    margin-bottom: get-spacer(3);
    p {
      margin: 0;
      &:first-child {
        @include bold;
        font-size: $font-size-sm;
      }
    }
  }
}

