<app-qr-code-modal [model]="crowdsale"></app-qr-code-modal>

<section class="section">
  <div class="container">
    <h1 class="token-name">{{ token.name }} ({{ token.symbol }})</h1>
    <div class="eth-raised">
      <span class="balance text-truncate" style="max-width: 210px">{{ crowdsale.address }}</span>
      <small>Crowdsale address</small>
      <span class="go-icon" (click)="shared.displayCrowdsaleShowModal()">
        <i class="icon-copy"></i>
      </span>
    </div>
    <div class="eth-raised">
      <small>Amount raised</small>
      <span class="balance"><strong>ETH</strong> {{ crowdsale.ethRaised }}</span>
    </div>
    <div class="eth-raised">
      <small>Price</small>
      <span class="balance"><strong>ETH</strong> {{ crowdsale.price }}</span>
    </div>
    <div class="eth-raised">
      <small>Available</small>
      <span class="balance"><strong>{{ token.symbol }}</strong> {{ crowdsale.tokens }}</span>
    </div>
  </div>
</section>

<section id="info" class="section">
  <div class="container">
    <h5 class="title">Contract information</h5>
    <article class="info">
      <small>Crowdsale beneficiary</small>
      <a href="{{ eth.etherscanURL }}/address/{{ crowdsale.beneficiary }}" target="_blank" class="text-truncate">{{ crowdsale.beneficiary }}</a>
    </article>
    <article class="info">
      <small>Crowdsale contract</small>
      <a href="{{ eth.etherscanURL }}/address/{{ crowdsale.getAddress() }}" target="_blank" class="text-truncate">{{ crowdsale.getAddress() }}</a>
    </article>
    <article class="info">
      <small>ERC20 Token contract</small>
      <a href="{{ eth.etherscanURL }}/token/{{ token.getAddress() }}" target="_blank" class="text-truncate">{{ token.getAddress() }}</a>
    </article>
  </div>
</section>

<section id="tx-history" class="section">
  <div class="container">
    <h5 class="title">Transaction History</h5>
    <article class="tx row" *ngFor="let tx of txHistory">
      <div class="col-sm-3 hash">
        <small>Hash</small>
        <a href="{{ eth.etherscanURL }}/tx/{{ tx.hash }}" target="_blank" class="text-truncate">{{ tx.hash }}</a>
      </div>
      <div class="col-sm-3 from">
        <small>From</small>
        <a href="{{ eth.etherscanURL }}/address/{{ tx.from }}" target="_blank" class="text-truncate">{{ tx.from }}</a>
      </div>
      <div class="col-sm-3 to">
        <small>To</small>
        <a href="{{ eth.etherscanURL }}/address/{{ tx.to }}" target="_blank" class="text-truncate">{{ tx.to }}</a>
      </div>
      <div class="col-sm-3 value">
        <small>Value</small>
        <span class="text-truncate">{{ tx.value }}</span>
      </div>
    </article>
  </div>
</section>
