<main id="login-component">
  <div class="container">
    <div class="logo">
      <img src="assets/img/icon-simpleico.png" alt="SimpleICO">
    </div>
    <div class="card">
      <div class="card-body">
        <fieldset class="form-group">
          <textarea autofocus="autofocus" class="form-control" placeholder="Paste your mnemonic seed or your private key"></textarea>
        </fieldset>
        <button class="btn btn-success btn-lg btn-block">Unlock my wallet</button>
        <hr>
        <a [routerLink]="['/new-wallet']" class="btn btn-outline-success btn-sm btn-block">Create new wallet <i class="icon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</main>
