<main id="hackaton">
  <header class="header auth-header">
    <div class="container">
      <div class="row">
        <div class="col-3 header-left">
          <a [routerLink]="['/home']" class="logo">
            <img src="assets/img/logo-simpleico.svg" alt="SimpleICO">
          </a>
        </div>
        <div class="col-9 header-right">
          <nav>
            <!-- <a [routerLink]="['/home']" fragment="professional-services" class="d-none d-sm-inline-block">Professional services</a>
            <a [routerLink]="['/home']" fragment="global-financial-inclusion" class="d-none d-sm-inline-block">Our Purpose</a>
            <a href="https://github.com/SimpleICO/web-app" target="_blank" class="d-none d-sm-inline-block">GitHub</a> -->
            <!-- <a [routerLink]="['/login']" class="btn btn-outline-light">Regístrate</a> -->
          </nav>
        </div>
      </div>
    </div>
  </header>

  <section class="section" id="intro">
    <div class="container">
      <h1 class="rules">Anónimo, Inmutable, Decentralizado</h1>
      <h2 class="title">SimpleICO UFM Blockchain Hackaton</h2>
      <h3 class="place">Guatemala City, Agosto 2018</h3>
    </div>

    <footer class="sections">
      <div class="container">
        <nav>
          <a [routerLink]="['/hackaton']" fragment="objetivo">Objetivo</a>
          <a [routerLink]="['/hackaton']" fragment="evaluacion">Evaluación</a>
          <a href="#">Jueces</a>
          <a href="#">Sponsors</a>
          <a href="#">Premios</a>
          <a href="#">Fecha</a>
          <a href="#">Contacto</a>
        </nav>
      </div>
    </footer>
  </section>

  <section class="section" id="objetivo">
    <div class="container-md text-white text-center">
      <h2 class="title">Identidad</h2>
      <h3>¿Cómo creamos un sistema anónimo, inmutable y decentralizado que facilite a las personas el acceso a servicios públicos, acceso a capital y acceso a servicios de salud?</h3>
      <hr class="bg-light">
      <h4><strong>Objetivo</strong>: Desarrollar un Smart Contract User Interface que provea a los ciudadanos...</h4>
    </div>
  </section>

  <section class="section" id="evaluacion">
    <div class="container">
      <h2 class="title">Criterios de evaluación</h2>
      <h5 class="text-white">El UFM SimpleICO Hackaton consiste en 2 días de 8 horas cada uno. 16 horas en total.</h5>
      <div class="row mt-5">
        <div class="col-sm-6">
          <article class="card">
            <div class="card-header">
              <h5>Día 1</h5>
              <p class="m-0">1a etapa: Concepto</p>
            </div>
            <div class="card-body">
              <p>Los equipos trabajarán en establecer la filosofía detrás de su propuesta.</p>
              <p>Los criterios de evaluación responderán a éstas 3 preguntas:</p>
              <h5>¿El proyecto es anónimo?</h5>
              <p>Calificación: 0 ó 1</p>
              <h5>¿El proyecto es inmutable?</h5>
              <p>Calificación: 0 ó 1</p>
              <h5>¿El proyecto es decentralizado?</h5>
              <p class="m-0">Calificación: 0 ó 1</p>
            </div>
            <div class="card-footer">
              <p>Duración: 4 horas</p>
              <p>Inicio: 10:00 am</p>
              <p>Fin: 2:00 pm</p>
              <p class="m-0">Puntaje máximo: 3 puntos</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6">
          <article class="card">
            <div class="card-header">
              <h5>Día 1</h5>
              <p class="m-0">2a etapa: Solidity Smart Contract</p>
            </div>
            <div class="card-body">
              <p>Los equipos implementarán su propuesta en 1 o más Solidity Smart Contracts</p>
              <p>Criterios de evaluación:</p>
              <h5>Seguridad</h5>
              <p>Calificación: 1 punto negativo por cada vulnerabilidad identificada</p>
              <h5>Eficiencia</h5>
              <p>Calificación: 1 punto a la implementación más económica en términos de costos por transacción de deployment + costos por transacción de cambio de estado en el contrato*</p>
              <h5>Semántica</h5>
              <p>Calificación: 1 punto negativo por cada observación a debilidades en la arquitectura de los contratos</p>
              <h5>Testing</h5>
              <p class="m-0">Calificación: 1 punto positivo presentando pruebas unitarias. *Las librerías de pruebas pueden ser determinadas por cada equipo.</p>
            </div>
            <div class="card-footer">
              <p>Duración: 4 horas</p>
              <p>Inicio: 15:00 am</p>
              <p>Fin: 19:00 pm</p>
              <p class="m-0">Puntaje máximo: 3 puntos</p>
            </div>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <article class="card">
            <div class="card-header">
              <h5>Día 2</h5>
              <p class="m-0">3a etapa: Smart Contract User Interface, SCUI</p>
            </div>
            <div class="card-body">
              <p>Los equipos implementarán su propuesta en un SCUI utilizando <a href="https://simpleico.gitbook.io/web-app/" target="_blank">SCUI Framework</a></p>
              <p>Cada equipo dispondrá de 10 usuarios finales (end-users) no técnicos (non-technical) que utilizarán la implementación del SCUI.</p>
              <p>Criterios de evaluación:</p>
              <h5>CDSI. Create, Deploy, Show, Index</h5>
              <p>Calificación: 1 punto positivo si el SCUI presenta las 4 rutas base</p>
              <h5>Improvement</h5>
              <p>Calificación: 1 punto positivo si el equipo identifica e implementa una mejora en la arquitectura del SCUI Framework</p>
              <h5>Testing</h5>
              <p class="m-0">Calificación: 1 punto positivo si el flujo total del SCUI presenta pruebas e2e.</p>
            </div>
            <div class="card-footer">
              <p>Duración: 6 horas</p>
              <p>Inicio: 10:00 am</p>
              <p>Almuerzo: 1:00 pm</p>
              <p>Fin: 5:00 pm</p>
              <p class="m-0">Puntaje máximo: 3 puntos</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6">
          <article class="card">
            <div class="card-header">
              <h5>Día 2</h5>
              <p class="m-0">4a etapa: Presentación</p>
            </div>
            <div class="card-body">
              <p>Los equipos presentarán el producto terminado y éste será evaluado por non-technical end-users.</p>
              <p>Cada equipo dispondrá de 10 usuarios finales (end-users) no técnicos (non-technical) que utilizarán la implementación del SCUI.</p>
              <p>Criterios de evaluación:</p>
              <h5>Usabilidad</h5>
              <p class="m-0">Calificación: 1 punto positivo por cada usuario que finalice el flujo completo cumpliendo con las características especificadas en el diseño inicial del Smart Contract.</p>
            </div>
            <div class="card-footer">
              <p>Duración: 2 horas</p>
              <p>Inicio: 5:00 am</p>
              <p>Fin: 7:00 pm</p>
              <p class="m-0">Puntaje máximo: 10 puntos</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

</main>
