@charset "UTF-8";

@import "./src/assets/sass/simpleico.scss";

@mixin main {
  min-height: 100vh;
}

@mixin with-header {
  padding-top: $header-height-control + $container-fluid;
}

@mixin logo {
  margin-bottom: get-spacer(5);
  text-align: center;
  img {
    height: auto;
    width: 98px;
  }
}

@import "./src/assets/sass/components/home-component";
@import "./src/assets/sass/components/login-component";
@import "./src/assets/sass/components/new-wallet-component";
@import "./src/assets/sass/components/accept-terms-component";
@import "./src/assets/sass/components/token-index-component";
@import "./src/assets/sass/components/token-new-component";

.header {
  background-color: transparent;
  border-bottom: none;
  position: absolute;
  z-index: 1000;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  .logo {
    img {
      height: auto;
      width: 42px;
    }
  }
  .header-right {
    text-align: right;
    nav {
    }
  }
  .menu-trigger {
    @include flex-column-center;
    height: $header-height-control;
    font-weight: bold;
    font-size: 35px;
    color: white;
  }
}

#mobile-menu {
  box-shadow: -1px 0 3px 3px rgba($black, 0.35);
  background-color: darken($indigo, 14%);
  transition: transform 0.2s ease-in-out;
  padding-top: $header-height-control;
  transform: translateX(110%);
  position: fixed;
  height: 100vh;
  z-index: 900;
  width: 70%;
  bottom: 0;
  right: 0;
  top: 0;

  &.display {
    transform: translateX(0);
  }

  a {
    @include flex-column-center;
  }

  .ether-balance {
    margin-bottom: get-spacer(3);
    padding: get-spacer(3);
    position: relative;
    color: white;
    .balance {
      @include light;
      font-size: $h4-font-size;
      padding-right: 28px;
      display: block;
    }
    small {
      @include bold;
      text-transform: uppercase;
    }
    .go-icon {
      @include flex-column-center;
      position: absolute;
      color: white;
      width: 28px;
      bottom: 0;
      right: 0;
      top: 0;
    }
  }
  .item {
    border-bottom: 1px solid darken($indigo, 21%);
    padding: get-spacer(3);
    color: white;
  }
  .cta {
    margin-top: get-spacer(3);
    padding: get-spacer(3);
  }
}

.input-box {
  &.bg-dark {
    label {
      color: white;
    }
    .form-control {
      background-color: black;
      color: white;
    }
  }
}

.on-error {
  @include bold;
  border-radius: $border-radius;
  margin-top: get-spacer(1);
  font-size: $font-size-sm;
  background-color: $red;
  padding: get-spacer(2);
  color: white;
}

/*
  Media queries
*/
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {
  body {}
}
@media #{$md-down} {}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {}
@media #{$lg-up} {}
@media #{$xl-up} {}
@media #{$xxl-up} {}

