@charset "UTF-8";

@import "./src/assets/sass/simpleico.scss";

@mixin main {
  min-height: 100vh;
}

@mixin with-header {
  padding-top: $header-height-control + $container-fluid;
}

@mixin logo {
  margin-bottom: get-spacer(5);
  text-align: center;
  img {
    height: auto;
    width: 180px;
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@import "./src/assets/sass/components/home-component";
@import "./src/assets/sass/components/login-component";
@import "./src/assets/sass/components/new-wallet-component";
@import "./src/assets/sass/components/accept-terms-component";
@import "./src/assets/sass/components/token-index-component";
@import "./src/assets/sass/components/token-new-component";

.header {
  background-color: transparent;
  border-bottom: none;
  position: absolute;
  z-index: 1000;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  .logo {
    img {
      height: auto;
      width: 92px;
    }
  }
  .header-right {
    text-align: right;
    nav {
    }
  }
  .menu-trigger {
    @include flex-column-center;
    height: $header-height-control;
    font-weight: bold;
    font-size: 35px;
    color: white;
  }
}

#mobile-menu {
  box-shadow: -1px 0 3px 3px rgba($black, 0.35);
  transition: transform 0.2s ease-in-out;
  padding-top: $header-height-control;
  transform: translateX(110%);
  background-color: $purple;
  position: fixed;
  height: 100vh;
  z-index: 900;
  width: 100%;
  bottom: 0;
  right: 0;
  top: 0;

  &.display {
    transform: translateX(0);
  }

  a {
    @include flex-column-center;
  }

  .ether-balance {
    margin-bottom: get-spacer(3);
    padding: get-spacer(3);
    position: relative;
    color: white;
    .balance {
      @include light;
      font-size: $h4-font-size;
      padding-right: 28px;
      display: block;
    }
    small {
      @include bold;
      text-transform: uppercase;
    }
    .go-icon {
      @include flex-column-center;
      position: absolute;
      color: white;
      width: 28px;
      bottom: 0;
      right: 0;
      top: 0;
    }
  }
  .item {
    border-bottom: 1px solid darken($indigo, 21%);
    padding: get-spacer(3);
    display: block;
    color: white;
  }
  .cta {
    margin-top: get-spacer(3);
    padding: get-spacer(3);
  }
  .address {
    border-top: 1px solid darken($indigo, 21%);
    background-color: darken($indigo, 14%);
    padding: get-spacer(3);
    padding-right: 77px;
    position: absolute;
    overflow: hidden;
    color: white;
    width: 100;
    bottom: 0;
    right: 0;
    left: 0;
    .text-truncate {
      display: inline-block;
      margin-bottom: -8px;
      width: 140px;
    }
    .copy {
      background-color: darken($indigo, 21%);
      padding: get-spacer(3);
      position: absolute;
      color: white;
      bottom: 0;
      right: 0;
      top: 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.input-box {
  &.bg-dark {
    label {
      color: white;
    }
    .form-control {
      background-color: black;
      color: white;
    }
  }
}

.on-error {
  @include bold;
  border-radius: $border-radius;
  margin-top: get-spacer(1);
  font-size: $font-size-sm;
  background-color: $red;
  padding: get-spacer(2);
  color: white;
}

.modal {
  @include flex-column-center;
  background-color: rgba($black, 0.7);
  position: fixed;
  z-index: 100000;
  height: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  .modal-body {
    border-radius: $border-radius-lg;
    background-color: white;
    padding: get-spacer(3);
    // min-height: 350px;
  }
  .spinner-wrapper {
    @include flex-column-center;
    min-height: 240px;
    .svg {
      animation: spin 2s infinite linear;
      height: 100%;
      width: 100%;
      circle {
        transition: stroke-dashoffset 1s linear;
        stroke-dashoffset: 0;
        stroke-width: 5px;
        stroke: $gray-100;
      }
      .bar {
        stroke: $purple;
      }
    }
  }
}

/*
  Media queries
*/
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {
  body {}
}
@media #{$md-down} {}
@media #{$lg-down} {}
@media #{$sm-up} {}
@media #{$md-up} {}
@media #{$lg-up} {}
@media #{$xl-up} {}
@media #{$xxl-up} {}

