<header class="header auth-header">
  <div class="container">
    <div class="row">
      <div class="col-5 header-left">
        <a [routerLink]="['/home']" class="logo">
          <img src="assets/img/logo-simpleico.svg" alt="SimpleICO">
        </a>
      </div>
      <div class="col-7 header-right">
        <nav>
          <a [routerLink]="['/home']" fragment="global-financial-inclusion">Our Purpose</a>
          <a href="https://github.com/SimpleICO/web-app" target="_blank">GitHub</a>
          <a [routerLink]="['/login']" class="btn btn-outline-light">Login</a>
        </nav>
      </div>
    </div>
  </div>
</header>
