<header class="header auth-header">
  <div class="container">
    <div class="row">
      <div class="col-5 header-left">
        <span class="logo">
          <img src="assets/img/logo-simpleico.svg" alt="SimpleICO">
        </span>
      </div>
      <div class="col-7 header-right">
        <nav>
          <button class="btn btn-outline-light" (click)="cancel()">Cancel</button>
        </nav>
      </div>
    </div>
  </div>
</header>

<app-qr-code-modal [model]="wallet"></app-qr-code-modal>

<main id="crowdsale-deploy">

  <app-fixed-supply *ngIf="crowdsaleFactory.deployer.type == crowdsaleType"></app-fixed-supply>

</main>

