<main id="accept-terms">
  <div class="container">
    <h5 class="text-white">Alpha version 2.0 of Simple ICO is exclusively for non-investment demonstration purposes only. Do not send investments to the smart contracts deployed on the ethereum network. </h5>
    <h5 class="text-white">I accept that I am using Simple ICO Alpha Version 2.0 exclusively for non-investment demonstration purposes only.</h5>
    <nav class="mt-3">
      <button class="btn btn-outline-light btn-lg" (click)="acceptTerms()">Accept</button>
      <button class="btn btn-outline-light btn-lg" (click)="declineTerms()">Decline</button>
    </nav>
  </div>
</main>
