<article class="contract">
  <div>
    <div class="overlay">
      <div>
        <a [routerLink]="['/contract', MVT20Deployment, 'create']" class="btn btn-purple">Deploy one now</a>
        <a href="https://github.com/SimpleICO/contracts/blob/master/contracts/MVT20.sol" class="btn btn-light" target="_blank">See contract code</a>
      </div>
    </div>
    <header>
      <p class="name">MVT20.sol</p>
      <p class="short-description">Membership Verification ERC20 Token</p>
    </header>
    <div class="body">
      <p>Deploy a detailed ERC20 token with whitelisting cappabilities.</p>
      <p>The MVT20 may only be transferred if the receiver is a member of the whitelist.</p>
    </div>
    <footer>
      <p class="version">^0.4.24</p>
    </footer>
  </div>
</article>
<article class="contract">
  <div>
    <div class="overlay">
      <div>
        <a [routerLink]="['/contract', DetailedERC20Deployment, 'create']" class="btn btn-purple">Deploy one now</a>
        <a href="https://github.com/SimpleICO/contracts/blob/master/contracts/simpletoken.sol" class="btn btn-light" target="_blank">See contract code</a>
      </div>
    </div>
    <header>
      <p class="name">SimpleToken.sol</p>
      <p class="short-description">Detailed ERC20 Token</p>
    </header>
    <div class="body">
      <p>Deploy an ERC20 token with a name, symbol and supply.</p>
    </div>
    <footer>
      <p class="version">^0.4.24</p>
    </footer>
  </div>
</article>
<article class="contract">
  <div>
    <div class="overlay">
      <div>
        <a [routerLink]="['/contract', ERC20TokenCrowdsaleDeployment, 'create']" class="btn btn-purple">Deploy one now</a>
        <a href="https://github.com/SimpleICO/contracts/blob/master/contracts/OwnedCrowdsale.sol" class="btn btn-light" target="_blank">See contract code</a>
      </div>
    </div>
    <header>
      <p class="name">SimpleCrowdsale.sol</p>
      <p class="short-description">ERC20 Token Crowdsale</p>
    </header>
    <div class="body">
      <p>Deploy a Crowdsale contract and set a price for each unit of your ERC20 token.</p>
    </div>
    <footer>
      <p class="version">^0.4.24</p>
    </footer>
  </div>
</article>
<article class="contract placeholder">
  <div>
    <div class="overlay">
      <div>
        <a href="https://simpleico.gitbook.io/web-app" target="_blank" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <header>
      <p class="name">YourContract.sol</p>
      <p class="short-description">Develop your own</p>
    </header>
    <div class="body">
      <p>Connect to any smart contract using the SCUI framework.</p>
    </div>
    <footer>
      <p class="version">^0.4.24</p>
    </footer>
  </div>
</article>
