<main id="scui-landing-page">
  <app-header-public></app-header-public>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="left-content">
          <h1>Smart Contracts Wallet</h1>
          <h5>The easiest way to develop<br>Solidity Smart Contract User Interfaces, SCUIs</h5>
          <nav>
            <a target="_blank" href="https://simpleico.gitbook.io/web-app" class="btn btn-lg btn-primary">See the docs</a>
          </nav>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="img-wrapper">
          <img src="assets/img/scuis-layers.svg" alt="SCUIs layers">
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</main>
