<section class="step" id="step-1" *ngIf="steps.tokenInfo.isCurrent">
  <div class="container">
    <header class="step-header">
      <h5>Step {{ steps.tokenInfo.step }} of {{ stepCount }}</h5>
    </header>

    <h4>Confirm your token info</h4>
    <article class="estimate">
      <p>{{ token.name }}</p>
      <p>Name</p>
    </article>
    <article class="estimate">
      <p>{{ token.symbol }}</p>
      <p>Symbol</p>
    </article>
    <article class="estimate">
      <p>ETH {{ token.price }}</p>
      <p>Price</p>
    </article>
    <article class="estimate">
      <p>{{ supply }}</p>
      <p>Supply</p>
    </article>

    <div *ngIf="steps.tokenInfo.hasError">
      <p class="on-error">{{ steps.tokenInfo.errorMessage | keepHtml }}</p>
      <button class="btn btn-outline-primary btn-block" (click)="tokenInfo()">Retry</button>
    </div>

    <div *ngIf="steps.tokenInfo.isComplete">
      <button class="btn btn-primary btn-block" (click)="deployCrowdsale()">Next</button>
      <a href="{{ eth.etherscanURL }}/token/{{ token.address }}" target="_blank" class="btn btn-outline-primary btn-block">See on etherscan</a>
    </div>

  </div>
</section>
