<app-header></app-header>
<app-mobile-menu></app-mobile-menu>

<main id="crowdsale-index">
  <section class="section">
    <div class="container">
      <h5 class="title">Crowdsales</h5>

      <article class="token" *ngFor="let crowdsale of crowdsales">
        <span class="name">{{ crowdsale.getToken().name }}</span>
        <a [routerLink]="['/contract', crowdsale.getToken().crowdsale, 'show']" class="crowdsale text-truncate">{{ crowdsale.getToken().crowdsale }}</a>
      </article>
    </div>
  </section>
</main>
