<app-header></app-header>
<app-mobile-menu></app-mobile-menu>

<main id="catalog">
  <section class="section">
    <div class="container">
      <!-- <a [routerLink]="['/contract', ERC20TokenCrowdsaleDeployment, 'create']" [queryParams]="{ address: '0xbd475BfB0b117deB82FB065f5E3E077aEad328DE' }"
        class="btn btn-primary btn-block mb-3">Create crowdsale</a> -->
      <h5 class="title">Smart Contract Catalog</h5>

      <app-catalog-contracts></app-catalog-contracts>
    </div>
  </section>

  <app-footer></app-footer>
</main>
