<header class="header auth-header">
  <div class="container">
    <div class="row">
      <div class="col-5 header-left">
        <a [routerLink]="['/token-index']" class="logo">
          <img src="assets/img/logo-simpleico.svg" alt="SimpleICO">
        </a>
      </div>
      <div class="col-7 header-right">
        <nav>
          <span class="menu-trigger" (click)="shared.toggleMobileMenu()">
            <i class="icon-menu"></i>
          </span>
        </nav>
      </div>
    </div>
  </div>
</header>
