<header class="header auth-header">
  <div class="container">
    <div class="row">
      <div class="col-5 header-left">
        <a [routerLink]="['/token-index']" class="logo">
          <img src="assets/img/logo-simpleico.svg" alt="SimpleICO">
        </a>
        <!-- <a [routerLink]="['/crowdsale', '0x4b3BEDA4b688bE8701cAc99D7d542462293A176F', 'show']" class="logo">
          <img src="assets/img/logo-simpleico.svg" alt="SimpleICO">
        </a> -->
      </div>
      <div class="col-7 header-right">
        <nav>
          <span class="menu-trigger" (click)="shared.toggleMobileMenu()">
            <i class="icon-menu"></i>
          </span>
        </nav>
      </div>
    </div>
  </div>
</header>
