<app-header></app-header>
<app-mobile-menu></app-mobile-menu>

<app-qr-code-modal [model]="wallet"></app-qr-code-modal>

<main id="wallet">
  <section class="section">
    <div class="container">
      <article class="eth-raised">
        <a href="{{ eth.etherscanURL }}/address/{{ wallet.getAddress() }}" target="_blank" class="address text-truncate">{{ wallet.getAddress() }}</a>
        <small>Wallet address</small>
        <span class="go-icon" (click)="shared.displayCrowdsaleShowModal()">
          <i class="icon-copy"></i>
        </span>
      </article>
      <article class="eth-raised">
        <span class="balance">
          <strong>ETH</strong> {{ wallet.ethBalance }}</span>
        <small>Account Balance · {{ wallet.network }}</small>
      </article>
    </div>
  </section>

  <app-crowdsale-by-address></app-crowdsale-by-address>
</main>

<app-footer></app-footer>
