#crowdsale-show {
  @include with-header;
  @include main;
  background-color: $purple;

  .token-name {
    font-size: $h4-font-size;
    color: white;
  }

  .eth-raised {
    padding: get-spacer(3) 0;
    position: relative;
    color: white;
    .balance {
      @include light;
      font-size: $h5-font-size;
      padding-right: 28px;
      display: block;
    }
    small {
      @include bold;
      text-transform: uppercase;
    }
    .go-icon {
      @include flex-column-center;
      position: absolute;
      font-size: 21px;
      color: white;
      width: 28px;
      bottom: 0;
      right: 0;
      top: 0;
    }
  }
}
