#crowdsale-deploy {
  @include with-header;
  @include main;
  background-color: $purple;

  .step {
    color: white;
  }

  .step-header {
    margin-bottom: get-spacer(4);
    h5 {
      color: white;
    }
  }

  .estimate {
    margin-bottom: get-spacer(3);
    p {
      margin: 0;
    }
  }

}
