#qr-code {
  img {
    height: auto;
    width: 100%;
  }
}

#crowdsale-show {
  @include with-header;
  @include main;
  background-color: $purple;


  .token-name {
    font-size: $h4-font-size;
    color: white;
  }

  .info {
    padding: get-spacer(2) 0;
    small {
      color: white;
    }
    a {
      max-width: 210px;
      display: block;
    }
  }

  .eth-raised {
    padding: get-spacer(3) 0;
    position: relative;
    color: white;
    .balance {
      @include light;
      font-size: $h5-font-size;
      padding-right: 28px;
      display: block;
      strong {
        @include bold;
      }
    }
    small {
      @include bold;
      text-transform: uppercase;
    }
    .go-icon {
      @include flex-column-center;
      position: absolute;
      font-size: 21px;
      color: white;
      width: 28px;
      bottom: 0;
      right: 0;
      top: 0;
    }
  }

  #tx-history {
    .tx {
      border-bottom: 1px solid darken($purple, 7%);
      padding-bottom: get-spacer(3);
      margin-bottom: get-spacer(3);
      color: white;
      > div {
        @include flex-column-center;
        margin-top: get-spacer(1);
        small {
          display: block;
        }
        span, a {
          max-width: 210px;
          display: block;
        }
      }
      .hash {}
      .from {}
      .to {}
      .value {}
    }
  }
}
