#home-component {
  @include container-size(xl);
  @include flex-column-center;
  @include full-width-header;
  @include main;
  background-color: $purple;

  #introduction {
    @include hero-overlay;
    .left-content,
    .img-wrapper {
      @include flex-column-center;
      min-height: 100vh;
    }

    .left-content {
      color: white;
      h1 {
        @include bold;
      }
      h5 {
        line-height: 1.85rem;
      }
      nav {
        margin-top: get-spacer(4);
        .btn {
          margin-bottom: get-spacer(3);
          margin-right: get-spacer(4);
        }
      }
    }
  }

  .section {
    padding: get-spacer(5) 0;
    min-height: 100vh;
  }
  .title {
    @include bold;
  }

  #contracts-catalog {
    background-color: $purple;
  }
  #global-financial-inclusion {
    background-color: $gray-500;
  }
}
