#scui-landing-page {
  @include container-size(xl);
  @include main;

  @include full-width-header;
  @include hero-overlay;

  .left-content,
  .img-wrapper {
    @include flex-column-center;
    min-height: 100vh;
  }

  .left-content {
    h1 {
      @include bold;
    }
    h5 {
      line-height: 1.85rem;
    }
    color: white;
    nav {
      margin-top: get-spacer(4);
    }
  }

  .img-wrapper {
    img {
      height: auto;
      width: 100%;
    }
  }

}
