#scui-landing-page {
  @include container-size(xl);
  @include main;
  background-color: $purple;

  @include full-width-header;

  .left-content,
  .img-wrapper {
    @include flex-column-center;
    min-height: 100vh;
  }

  .left-content {
    h1 {
      @include bold;
    }
    h5 {
      line-height: 1.85rem;
    }
    color: white;
    nav {
      margin-top: get-spacer(4);
    }
  }

  .img-wrapper {
    img {
      height: auto;
      width: 100%;
    }
  }
}

@include media-breakpoint-down(sm) {
  #scui-landing-page {
    .img-wrapper {
      display: none;
    }
  }
}
