<section class="section" id="crowdsale-by-address">
  <header class="section-header">
    <div class="container">
      <h5 class="title">My crowdsales</h5>
    </div>
  </header>
  <div class="container">
    <article class="token" *ngFor="let crowdsale of crowdsales">
      <span class="name">{{ crowdsale.getToken().name }}</span>
      <a [routerLink]="['/contract', crowdsale.getToken().crowdsale, 'show', FixedSupplyDeployment]" class="crowdsale text-truncate">{{ crowdsale.getToken().crowdsale }}</a>
    </article>
  </div>
</section>
