<main id="home-component">
  <app-header-public></app-header-public>

  <section id="introduction" class="section">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="left-content">
            <h1>Create your own economy.</h1>
            <h5><strong>Deploy custom ERC20 tokens</strong> and
              <br>smart contracts, easily.</h5>
            <nav>
              <a [routerLink]="['/home']" fragment="contracts-catalog" class="btn btn-purple btn-lg">Browse the
                contracts
                catalog</a>
              <a [routerLink]="['/smart-contracts-wallet']" class="btn btn-outline-purple btn-lg">Or develop your own</a>
            </nav>
            <p class="scui-framework">Simple ICO is powered by the <a [routerLink]="['/smart-contracts-wallet']">SCUI
                Framework</a>.</p>
          </div>
          <div class="left-content mobile">
            <h1>Create your own economy.</h1>
            <h5><strong>Deploy custom ERC20 tokens</strong>
              <br>and smart contracts, easily.</h5>
            <nav>
              <a [routerLink]="['/home']" fragment="contracts-catalog" class="btn btn-purple">Browse the contracts
                catalog</a>
              <a [routerLink]="['/smart-contracts-wallet']" class="btn btn-outline-purple">Or develop your own</a>
            </nav>
            <p class="scui-framework">Simple ICO is powered by the <br><a [routerLink]="['/smart-contracts-wallet']">SCUI
                Framework</a>.</p>
          </div>
        </div>
        <div class="col-sm-5 d-none d-sm-block">

          <div class="right-content">
            <!-- <fixed-supply-widget></fixed-supply-widget> -->
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="section" id="use-cases">
    <header class="section-header">
      <div class="container">
        <h2 class="title text-center">These projects already benefit from Simple ICO</h2>
        <div class="separator separator-sm white"></div>
      </div>
    </header>
    <div class="projects">
      <div class="row no-gutters">
        <div class="col-sm-6">
          <article class="project">
            <div class="img">
              <img src="assets/svg/projects/logo-superander.svg" alt="Súper Ánder">
            </div>
            <div class="info">
              <h3 class="title">Súper Ánder</h3>
              <p>Súper Ánder created SANDER1, an ERC20 and the name of their next album.</p>
              <p>Together with a Capped Crowdsale contract, they are already selling SANDER1 tokens to finance their recordings!</p>
              <nav>
                <a href="https://superander.com" target="_blank">superander.com</a>
              </nav>
            </div>
          </article>
        </div>
        <div class="col-sm-6">
          <article class="project">
            <div class="img">
              <img src="assets/img/icon-simpleico.png" alt="Simple ICO Icon">
            </div>
            <div class="info">
              <h3 class="title">Your Project</h3>
              <p>Tell us about your next idea or a current project, we can help you raise capital via a custom ICO campaign.</p>
              <nav>
                <a href="mailto:hello@simpleico.com" target="_blank">hello@simpleico.com</a>
              </nav>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="contracts-catalog">
    <header class="section-header">
      <div class="container">
        <h2 class="title">Smart Contracts Catalog</h2>
      </div>
    </header>
    <div class="container">
      <app-catalog-contracts></app-catalog-contracts>
    </div>
  </section>

  <app-footer></app-footer>
</main>
