@import "sass/simpleico.scss";

#home-component {
  @include flex-column-center;
  @include main;
  background-color: $purple;

  #introduction {
    .left-content,
    .right-content {
      @include flex-column-center;
      min-height: 100vh;
    }

    .left-content {
      color: white;
      h1 {
        @include bold;
      }
      h5 {
        line-height: 1.85rem;
      }
      nav {
        margin-top: get-spacer(4);
        .btn {
          margin-bottom: get-spacer(3);
          margin-right: get-spacer(4);
        }
      }
      &.mobile {
        display: none;
      }
    }

    .scui-framework {
      margin-top: get-spacer(3);
      a {
        text-decoration: underline;
      }
    }
  }

  .section {
    padding: get-spacer(5) 0;
    min-height: 100vh;
  }
  .title {
    @include bold;
  }

  #contracts-catalog {
    background-color: $purple;
    min-height: auto;
  }

  #global-financial-inclusion {
    background-color: $gray-500;
  }
}

@include media-breakpoint-down(sm) {
  #home-component {
    #introduction {
      .left-content {
        display: none;
        &.mobile {
          display: flex;
        }
      }
    }
  }
}
