<main id="home-component">
  <app-header-public></app-header-public>

  <section id="introduction" class="section">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="left-content">
            <h1>Smart Contract Wallet</h1>
            <h5><strong>Deploy custom ERC20 tokens</strong>
              <br>and launch different types of crowdsale smart contracts, easily.</h5>
            <nav>
              <a [routerLink]="['/home']" fragment="contracts-catalog" class="btn btn-primary btn-lg">Browse the contracts
                catalog</a>
              <a [routerLink]="['/smart-contracts-wallet']" class="btn btn-outline-primary btn-lg">Or develop your own</a>
            </nav>
            <small>SimpleICO is powered by the
              <a [routerLink]="['/smart-contracts-wallet']">SCUIs framework</a>
            </small>
          </div>
          <div class="left-content mobile">
            <h1>Smart Contract Wallet</h1>
            <h5><strong>Deploy custom ERC20 tokens</strong> and launch different types of crowdsale smart contracts, easily.</h5>
            <nav>
              <a [routerLink]="['/home']" fragment="contracts-catalog" class="btn btn-primary">Browse the contracts catalog</a>
              <a [routerLink]="['/smart-contracts-wallet']" class="btn btn-outline-primary">Or develop your own</a>
            </nav>
            <small>SimpleICO is powered by the
              <a [routerLink]="['/smart-contracts-wallet']">SCUIs framework</a>
            </small>
          </div>
        </div>
        <div class="col-sm-5">

          <div class="right-content">
            <fixed-supply-widget></fixed-supply-widget>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="section" id="contracts-catalog">
    <div class="container">
      <h2 class="title">Smart Contracts Catalog</h2>

      <app-catalog-contracts></app-catalog-contracts>

    </div>
  </section>

  <app-footer></app-footer>
</main>
