<main id="home-component">
  <app-header-public></app-header-public>

  <section id="introduction" class="section">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="left-content">
            <h1>Create your own economy.</h1>
            <h5><strong>Deploy custom ERC20 tokens</strong> and
              <br>simple smart contracts, easily.</h5>
            <nav>
              <a [routerLink]="['/home']" fragment="contracts-catalog" class="btn btn-primary btn-lg">Browse the
                contracts
                catalog</a>
              <a [routerLink]="['/smart-contracts-wallet']" class="btn btn-outline-primary btn-lg">Or develop your own</a>
            </nav>
            <p class="scui-framework">Simple ICO is powered by the <a [routerLink]="['/smart-contracts-wallet']">SCUI
                Framework</a>.</p>
          </div>
          <div class="left-content mobile">
            <h1>Create your own economy.</h1>
            <h5><strong>Deploy custom ERC20 tokens</strong>
              <br>and simple smart contracts, easily.</h5>
            <nav>
              <a [routerLink]="['/home']" fragment="contracts-catalog" class="btn btn-primary">Browse the contracts
                catalog</a>
              <a [routerLink]="['/smart-contracts-wallet']" class="btn btn-outline-primary">Or develop your own</a>
            </nav>
            <p class="scui-framework">Simple ICO is powered by the <br><a [routerLink]="['/smart-contracts-wallet']">SCUI
                Framework</a>.</p>
          </div>
        </div>
        <div class="col-sm-5 d-none d-sm-block">

          <div class="right-content">
            <!-- <fixed-supply-widget></fixed-supply-widget> -->
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="section" id="contracts-catalog">
    <div class="container">
      <h2 class="title">Smart Contracts Catalog</h2>

      <app-catalog-contracts></app-catalog-contracts>

    </div>
  </section>

  <app-footer></app-footer>
</main>
