<app-header></app-header>
<app-mobile-menu></app-mobile-menu>

<main id="crowdsale-show">
  <div class="container">
    <h1 class="token-name">{{ token.name }} ({{ token.symbol }})</h1>
    <div class="eth-raised">
      <span class="balance text-truncate" style="max-width: 210px">{{ crowdsale.address }}</span>
      <small>Crowdsale address</small>
      <span class="go-icon copy-crowdsale-address" (click)="refresh()"><i class="icon-copy"></i></span>
    </div>
    <div class="eth-raised">
      <span class="balance"><strong>ETH</strong> {{ crowdsale.ethRaised }}</span>
      <small>Amount raised</small>
      <!-- <span class="go-icon" (click)="refresh()"><i class="icon-sync"></i></span> -->
    </div>
    <div class="eth-raised">
      <span class="balance"><strong>{{ token.symbol }}</strong> {{ crowdsale.tokens }}</span>
      <small>Available</small>
    </div>
  </div>

  <section id="tx-history" class="section">
    <div class="container">
      <h5 class="title">Transaction History</h5>
      <article class="tx row" *ngFor="let tx of txHistory">
        <div class="col-sm-3 hash">
          <small>Hash</small>
          <a href="{{ eth.etherscanURL }}/tx/{{ tx.hash }}" target="_blank" class="text-truncate">{{ tx.hash }}</a>
        </div>
        <div class="col-sm-3 from">
          <small>From</small>
          <a href="{{ eth.etherscanURL }}/address/{{ tx.from }}" target="_blank" class="text-truncate">{{ tx.from }}</a>
        </div>
        <div class="col-sm-3 to">
          <small>To</small>
          <a href="{{ eth.etherscanURL }}/address/{{ tx.to }}" target="_blank" class="text-truncate">{{ tx.to }}</a>
        </div>
        <div class="col-sm-3 value">
          <small>Value</small>
          <span class="text-truncate">{{ tx.value }}</span>
        </div>
      </article>
    </div>
  </section>
</main>
