<app-header></app-header>
<app-mobile-menu></app-mobile-menu>

<main id="token-new">
  <div class="container">
    <h4 class="text-white mb-4">Create your own ERC20 token and start raising real money</h4>
    <fieldset class="form-group dark-theme">
      <label for="">Token name</label>
      <input autofocus="autofocus" type="text" class="form-control form-control-lg" placeholder="eg. SimpleICO Coin">
    </fieldset>
    <fieldset class="form-group dark-theme">
      <label for="">Token symbol</label>
      <input type="text" class="form-control form-control-lg" placeholder="eg. SIC">
    </fieldset>
    <button class="btn btn-primary btn-lg btn-block" (click)="onCreateCrowdsale()">Create Token</button>
  </div>
</main>
