<app-header></app-header>
<app-mobile-menu></app-mobile-menu>
<app-new-token-modal></app-new-token-modal>

<main id="token-new">
  <div class="container">
    <h4 class="text-white mb-4">Create your own ERC20 token and crowdsale</h4>
    <fieldset class="form-group dark-theme">
      <label for="">Token name</label>
      <input
        autofocus="autofocus"
        type="text"
        class="form-control form-control-lg"
        placeholder="eg. SimpleICO Coin"
        [(ngModel)]="token.name">
    </fieldset>
    <fieldset class="form-group dark-theme">
      <label for="">Token symbol</label>
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="eg. SIC"
        [(ngModel)]="token.symbol">
    </fieldset>
    <button class="btn btn-primary btn-lg btn-block" (click)="onCreateCrowdsale()">Create Token</button>
  </div>
</main>
