@charset "UTF-8";


@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "sass/bootstrap-variables";

// EBM variables
@import "sass/ebm-variables";
@import "ebm/functions/ebm-functions";
@import "ebm/helpers/ebm-helpers";
@import "sass/ebm-fonts-setup";

@mixin container-size($breakpoint: sm) {
  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    .container {
      min-width: map-get($container-max-widths, $breakpoint);
      max-width: map-get($container-max-widths, $breakpoint);
    }
  }
}

@mixin main {
  padding-bottom: get-spacer(5);
  position: relative;
  min-height: 100vh;
}

@mixin with-header {
  padding-top: $header-height-control;
}

@mixin logo {
  margin-bottom: get-spacer(4) * 3;
  text-align: center;
  img {
    height: auto;
    width: 180px;
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@mixin hero-overlay {
  background: linear-gradient(45deg, $purple, darken($purple, 14%));
  position: relative;
  overflow: hidden;
  .overlay {
    @include bg-img-block;
    background-image: url('/assets/img/scuis-background-separator.png');
    background-position: center bottom;
    position: absolute;
    width: 100%;
    bottom: -120px;
    right: 0;
    left: 0;
    top: 0;
  }
  @include media-breakpoint-down(md, $grid-breakpoints) {
    .overlay {
      bottom: 0;
    }
  }
}

@mixin full-width-header {
  .header {
    .header-left,
    .header-right {
      height: $header-height-control;
    }
    .logo {
      img {
        width: 140px;
      }
    }
  }
}

@mixin input-dark-theme {
  border: 1px solid darken($purple, 14%);
  background-color: darken($purple, 7%);
  color: white;
  &:focus {
    background-color: darken($purple, 14%);
  }
  &:placeholder {
    color: $gray-300;
  }
  &:disabled {
    background-color: darken($purple, 14%);
  }
}

@mixin crowdsale-index {
  .token {
    padding-top: get-spacer(3);
    .name {}
    .crowdsale {
      max-width: 210px;
      display: block;
    }
  }
}
